.button {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 0.4rem 3rem;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 40px;
  color: #ffffff;
  white-space: nowrap;
}
