.button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  background-color: transparent;
  border: transparent;
  border-radius: 40px;
  color: var(--main-color);
  white-space: nowrap;
  font-weight: 800;
  width: 2.4rem;
  height: 2rem;
}

.button-selected,
.button:hover {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  background-color: transparent;
  border: transparent;
  border-radius: 40px;
  color: var(--main-color);
  white-space: nowrap;
  font-weight: 800;
}

.button:hover {
  font-size: 1.4rem;
  transition: font-size 0.15s ease-in-out 0s;
}
