.start-button {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  padding: 15px 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 40px;
  color: #ffffff;
  white-space: nowrap;
  font-weight: 700;
}
