.start-button,
.start-clicked {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  width: 6rem;
  height: 3rem;
  padding-left: 0.7rem;

  background-color: transparent;
  border: transparent;
  color: var(--main-color);
  white-space: nowrap;
  font-weight: 700;
}

.start-button:hover,
.start-clicked:hover {
  font-size: 1.9rem;
  transition: font-size 0.15s ease-in-out 0s;
}
