.more-button {
  color: var(--main-color);
  width: 2.2rem;
  background-color: transparent;
  border: none;
  margin: 0rem 1.8rem 0rem 1rem;
  line-height: normal;
}

.hover-button {
  font-size: 2.2rem;
  transition: font-size 0.15s ease-in-out 0s;
}

.hover-button:hover {
  font-size: 2rem;
  transition: font-size 0.15s ease-in-out 0s;
}
