.play-button,
.more-button,
.sound-button {
  color: var(--main-color);
  width: 2.2rem;
  height: 2.2rem;
  background-color: transparent;
  border: none;
  line-height: normal;
}

/* .sound-button {
  height: 5rem;
} */

.more-button {
  padding-top: 0.5rem;
}

.hover-button {
  font-size: 2.2rem;
  transition: font-size 0.15s ease-in-out 0s;
}

.hover-button:hover {
  font-size: 2rem;
  transition: font-size 0.15s ease-in-out 0s;
}
