.restart-box {
  color: var(--main-color);
  width: 2.2rem;
  background-color: transparent;
  border: none;
  line-height: normal;
}

.restart-button {
  font-size: 2.5rem;
  transition: font-size 0.15s ease-in-out 0s;
}

.restart-button:hover {
  font-size: 2.3rem;
  transition: font-size 0.15s ease-in-out 0s;
}
