.login-button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 0rem 1rem;
  background-color: #1e9800;
  border-radius: 7.29px;
  border: none;
  color: #ffffff;
  white-space: nowrap;
  font-weight: 400;
  margin: 0px 0px 30px 10px;
  line-height: normal;
}
