@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

/* Extra small devices (phones, 37.5em (600px) and down) */
/* @media only screen and (max-width: 37.5em) {
  .global-container {
    flex-direction: column;
    align-items: center;
  }

  .nav-bar {
    justify-content: flex-end;
    padding: 3vh 0;
  }

  .left-div {
    margin: 3vh 0;
  }

  .right-div {
    margin: 3vh 0;
  }

  .matrix-container {
    width: 12rem;
    height: 12rem;
  }

  .start-row {
    margin: 2rem 0;
  }

  .volume-slider {
    position: relative;
    left: 0;
  }
} */

/* Small devices (portrait tablets and large phones, 37.5em (600px) and up) */
@media only screen and (min-width: 37.5em) {
}

/* Medium devices (landscape tablets, 48em (768px) and up) */
@media only screen and (min-width: 48em) {
}

/* Large devices (laptops/desktops, 62em (992px) and up) */
@media only screen and (min-width: 62em) {
}

/* Extra large devices (large laptops and desktops, 75em (1200px) and up) */
@media only screen and (min-width: 75em) {
}

.global-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  padding: 3vh 2.5rem;
}

.white-noise-logo {
  font-size: 1rem;
}

.bottom {
  color: var(--main-color);
  white-space: nowrap;
}

.left-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3vh 7rem;
}

.left-empty-space {
  margin: 15vh 0;
}

.right-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20vw;
}

.matrix-container {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 18rem;
}

.timer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.start-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4rem 0;
}

.audio-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.volume-slider {
  position: relative;
  left: -5rem;
}
