@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

.footer {
  color: var(--main-color);
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: inherit;
}

.global-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: absolute;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.matrix-container {
  display: flex;
  flex-direction: column;
}

.start-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.audio-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Extra small devices (phones, 37.5em (600px) and down) */
@media only screen and (max-width: 37.5em) {
  .global-container {
    justify-content: flex-end;
  }

  .start-row {
    margin: 3rem 0;
  }

  .matrix-container {
    width: 65vw;
    height: 16rem;
    margin-top: 2rem;
  }

  .footer {
    margin-left: 2rem;
    margin-bottom: 3vh;
    font-size: 0.75rem;
  }

  .hide-on-small-screen {
    display: none;
  }

  /* 
  .volume-slider {
    position: relative;
    left: 0;
  } */
}

/* Small devices (portrait tablets and large phones, 37.5em (600px) and up) */
@media only screen and (min-width: 37.5em) {
  .nav-bar {
    padding: 7vh;
  }

  .matrix-container {
    width: 30rem;
    height: 20rem;
    margin-top: 3rem;
  }

  .start-row {
    margin: 5rem 0;
  }

  .footer {
    margin: 5vh 4rem;
    font-size: 0.75rem;
  }

  .left-div {
    width: 75%;
  }
}

/* Medium devices (landscape tablets, 48em (768px) and up) */
@media only screen and (min-width: 48em) {
  .nav-bar {
    padding: 7vh;
  }
  /* 
  .right-div {
    width: 70%;
  } */

  .matrix-container {
    width: 60vw;
    height: 20rem;
    margin-top: 10vh;
  }

  .start-row {
    margin: 8vh 0;
  }

  .footer {
    margin: 5vh 8vw;
    font-size: 0.75rem;
  }

  .left-div {
    width: 75%;
  }
}

/* Large devices (laptops/desktops, 62em (992px) and up) */
@media only screen and (min-width: 62em) {
}

/* Extra large devices (large laptops and desktops, 75em (1200px) and up) */
@media only screen and (min-width: 75em) {
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-bar {
    display: flex;
    justify-content: flex-end;
    padding: 5vh;
  }

  .white-noise-logo {
    font-size: 1rem;
  }

  .footer {
    margin: 10vh 7rem;
  }

  .left-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4vh 9rem;
  }

  .left-empty-space {
    margin: 5vh 0;
  }

  .right-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 22vw;
    margin-top: 10vh;
  }

  .matrix-container {
    width: 20rem;
    height: 20rem;
  }

  .start-row {
    margin: 5rem 0;
  }

  .volume-slider {
    position: relative;
    left: -6rem;
  }
}
